body{font-size: 12px;background-color: #F8F8F8;box-sizing: border-box;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; color: #353535;margin:0}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}
ul{margin: 0;padding: 0;list-style: none;}  
li{cursor: pointer;}
input{margin: 0;width: 0;} 
a{text-decoration: none;color:inherit;}
h4{margin:0;paddding:0}
.maincontent{width:800px;position: absolute;left:50%;transform:translateX(-50%);}
.maincolor{color:#3498DB}
.mainbg{background-color: #3498DB;}
.successbg {background: rgb(28, 184, 65); /* this is a green */}
.errorbg { background: rgb(202, 60, 60); /* this is a maroon */}

#head{position:relative;top:0px;left:0;width: 100%;height: 50px;color:#fff;display: flex;align-items: center;padding: 0;box-sizing: border-box;}
#head .left{width:180px;text-align: center;white-space: nowrap;overflow: hidden;}
#head .right{width:calc(100vw - 180px);display: flex;flex-direction: row-reverse;padding-right: 10px;color:#fff;}
#head .right a{color:#fff;cursor: pointer;margin:0 10px;}
#head .right a:hover{opacity: 0.8}
#head .right a i{padding-right: 5px}
#head .right a .tip{font-size: 10px;border-radius: 50%;color: #fff; padding: 0 2px;position: relative;top: -10px; left: -15px;}
.haschildmenu{position: relative;}
.dropdownmenu{;position: absolute;color:#fff;top:30px;width: 160px;display: none}
.dropdownmenu li{padding: 10px 0}
.dropdownmenu li:hover{background-color: #3FAEE6}

#leftmenu{position: absolute;top:50px;left:0;width: 50px;height:calc(100vh - 50px);padding-top: 100px; background-color: #222D32;}
.menugroup{background-color: #222D32;text-align: center;color:#fff}
.menuitem{padding: 15px 0;cursor: pointer;}
.menuitem:hover{border-left: 2px solid #3FAEE6;background-color: #3498DB;}
.haschildmenu{position: relative;}
.haschildmenu .menugroup{position: absolute;left: 50px;top:0; width: 100px; display: none;}
.haschildmenu .menugroup .menuitem{padding: 10px 0}
.haschildmenu .menugroup .menuitem:hover{border-left: none}

#container{padding: 20px 20px 0 70px;}
#breadcrumb {list-style: none;display: inline-block;border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 20px; width: 100%;}
#breadcrumb .icon { font-size: 14px;}
#breadcrumb li {float: left;}
#breadcrumb li a {color: #FFF;display: block;background: #3FAEE6; text-decoration: none;position: relative;height: 30px;line-height: 30px;padding: 0 10px 0 5px;text-align: center; margin-right: 23px;}
#breadcrumb li:nth-child(even) a {background-color: #3498DB;}
#breadcrumb li:nth-child(even) a:before {border-color: #3498DB;border-left-color: transparent;}
#breadcrumb li:nth-child(even) a:after { border-left-color: #3498DB;}
#breadcrumb li:first-child a { padding-left: 15px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px;}
#breadcrumb li:first-child a:before { border: none;}
#breadcrumb li:last-child a { padding-right: 15px; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0;}
#breadcrumb li:last-child a:after {  border: none;}
#breadcrumb li a:before, #breadcrumb li a:after {content: "";position: absolute;top: 0; border: 0 solid #3FAEE6; border-width: 15px 10px; width: 0; height: 0;}
#breadcrumb li a:before { left: -20px; border-left-color: transparent;}
#breadcrumb li a:after { left: 100%; border-color: transparent; border-left-color: #3FAEE6;}
#breadcrumb li a:hover {background-color: #1abc9c;}
#breadcrumb li a:hover:before { border-color: #1abc9c; border-left-color: transparent;}
#breadcrumb li a:hover:after { border-left-color: #1abc9c;}
#breadcrumb li a:active { background-color: #16a085;}
#breadcrumb li a:active:before { border-color: #16a085; border-left-color: transparent;}
#breadcrumb li a:active:after { border-left-color: #16a085;}

/*首页*/
.projects{padding: 5px 20px;border-right: 1px solid #ccc;border-left: 1px solid #ccc;cursor: pointer}
.projects a:hover{border-bottom: 1px solid #3FAEE6}
.selectedproject{border-bottom: 2px solid #3FAEE6}
.configtainer{display: flex;justify-content: center;}
.config{margin: 10px;cursor: pointer}
.config:hover{color: #3498DB}
.configline{width: 150px;border-bottom: 1px solid #ccc;position: relative;top:-16px}
.configignore{text-decoration: line-through;color:#ccc}

.flowop{cursor: pointer;display: block;padding: 10px 0}
.flowopselected{background-color: #eee}
.flowop img{vertical-align:middle;width: 20px}
.flowop img:hover{transform:scale(1.5)}

/*列表自定义操作按钮样式*/
.datagrid-row-selected a{color: #fff}

/*自定义表格*/
.detailtable{border-collapse: collapse;width: 100%;font-size: 12px;line-height: 30px;text-align: center}
.detailtable tr td{border-bottom: 1px solid #eee;border-right:1px solid #eee;}
.detailtable tr>td:last-child{border-right: none}
.detailrecord{border-left: 1px solid #aeaeae;padding: 10px;border-bottom: 1px solid #aeaeae;}
.detailrecord h5{margin:0;padding: 5px 0}
.detailinfo{display: inline-block;width: 150px}
.detailcontainer{border-top: 1px solid #eee;font-size: 10px;line-height: 16px;padding: 10px 0}
.detailremark{border-top:1px solid #eee;padding: 10px 0}