<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/icon.css">
<script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/echarts/echarts-all.js"></script>
<script type="text/javascript" src="/echarts/macarons.js"></script>
<script type="text/javascript" src="/app/raphael.min.js"></script>
<script type="text/javascript" src="/app/flowdesign.js"></script>

<link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/app.css">

<!-- 
<script type="text/javascript" src="/frame/js/ui.js"></script>
 -->