<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<#include "./frame/import.htm">
</head>
<body >
<img alt="" src="/app/imgs/loginbg.jpg" style="width: 100vw;height: 100vh;position: absolute;top:0;left:0;z-index: -1">
<div class="container" style="margin:150px auto;width:80%;text-align: center">
	
	<div>
		<div style="display:inline-block;padding-right: 50px;height: 200px">
			<img alt="" src="app/imgs/logo.png" style="width: 150px">
		</div>
		<div style="display: inline-block;border-left: 1px solid #ccc;padding-left: 50px;">
			<form id="ff" class="easyui-form" style="width: 250px"  method="post" action="/login" data-options="novalidate:true">
				<h2 style="width: 100%;text-align: center">XXXX管理系统</h2>
			    
			    	<div style="margin:20px 0">
						<input class="easyui-textbox" prompt="请输入登录名" id="username" name="username" style="width:100%" data-options="label:'登录名:',iconCls:'icon-man',required:true,missingMessage:'登录名不能为空'"  >
					</div>
			
			        <div style="margin:20px 0">
			            <input id="password" prompt="请输入密码" name="password" type="password" class="easyui-passwordbox" style="width:100%" data-options="label:'密码:',required:true,missingMessage:'密码不能为空'" >
			        </div>
			
			
			</form>
			<div style="text-align:center;padding:5px 0">
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">登录</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function submitForm(){
		$('#ff').form('submit',{
			onSubmit:function(){
				return $(this).form('enableValidation').form('validate');
			},
			success:function(data){
				var data = eval('(' + data + ')'); 
				if(data.result == 'success'){
					window.location.href="/";
				}
			}
		});
	}
	</script>
</div>
</body>
</html>