<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<#include "./frame/import.htm">
</head>
<body >
<div id="head" class="mainbg">
	<div class="left">
		<h3>XXXX管理系统</h3>
	</div>
	</div>
<div class="container" style="margin:50px auto;width:80%;text-align: center">
	
		<div style="display: inline-block;">
			<form id="ff" class="easyui-form" style="width: 300px"  method="post" action="/register/submit" data-options="novalidate:true">
				<h2 style="width: 100%;text-align: center">XXXX管理系统注册中心</h2>
			    
			    	
			    	<div style="margin:20px 0">
						<input class="easyui-textbox" prompt="手机号码" id="phone"  name="phone"  validType="remote['/register/checkphone','phone']" style="width:100%"  data-options="label:'手机号码:',required:true,missingMessage:'手机号码不能为空',invalidMessage:'手机号码重复!'"  >
					</div>
			    	<div style="margin:20px 0;display: none" >
						<input class="easyui-textbox" prompt="账户名称,默认使用手机号码" id="username" name="username" validType="remote['/register/checkusername','username']" style="width:100%" data-options="label:'账户名称:' ">
					</div>
					
					<div style="margin:20px 0">
						<input class="easyui-textbox" prompt="昵称" id="nickName" name="nickName" validType="remote['/register/checknickname','nickName']" style="width:100%" data-options="label:'昵称:',required:true,missingMessage:'昵称不能为空'"  >
					</div>
			
			        <div style="margin:20px 0">
			            <input id="password" prompt="密码" name="password" type="password" class="easyui-passwordbox" style="width:100%" data-options="label:'密码:',required:true,missingMessage:'密码不能为空'" >
			        </div>
			        <div style="margin:20px 0">
			            <input id="repeatpassword" prompt="请重复输入密码" name="repeatpassword" type="password" class="easyui-passwordbox" style="width:100%" validType="equals['#password']" data-options="label:'请重复输入密码:',required:true,missingMessage:'请重复输入密码'" >
			        </div>
			</form>
			<div style="text-align:center;padding:5px 0;">
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">注册</a>
			</div>
		</div>
	<script type="text/javascript">

	function submitForm(){
		$('#ff').form('submit',{
			onSubmit:function(){
				return $(this).form('enableValidation').form('validate');
			},
			success:function(data){
				var data = eval('(' + data + ')'); 
				if(data.result == 'success'){
					$.messager.alert('消息','账号注册成功,请重新登录!','info',function(){
						window.location.href="/";						
					});
				}
			}
		});
	}
	</script>
</div>
</body>
</html>