<#import "../frame/frame.htm" as f/>
<@f.main>
	<ul id="breadcrumb">
	  <li><a href="/"><span class="fa fa-home"> </span></a></li>
	  <li><a href="#"><span class="fa fa-cog"> </span>流程设置</a></li>
	</ul>
	<div class="maincontent">
		<table id="flowconfiglist" class="easyui-datagrid" title="" style="min-height: 400px;width: 100%;"
					data-options="rownumbers:true,singleSelect:true,url:'/flowconfig/list',method:'get',toolbar:'#flowconfigdatagridtoolbar',loadMsg:'加载中...',
					nowrap:true,pagination:true,onLoadSuccess:function(data){
						if(data.rows.length == 0){
							var body = $(this).data().datagrid.dc.body2;
							var width = body.width();
							body.find('table tbody').append('<h5 style=\'width:700px;text-align:center;color:#aeaeae;font-size:12px\'>暂无数据!</h5>');
						}
					}">
			<thead>
				<tr>
					<th data-options="field:'name',width:115,align:'center'">流程名称</th>
					<th data-options="field:'type',width:120,align:'center',formatter:flowconfig.formatflowtype">流程类型</th>
					<th data-options="field:'inserttime',width:110,align:'center'">创建时间</th>
					<th data-options="field:'remark',align:'center',width:320">说明</th>
					<th data-options="field:'id',align:'center',width:100,formatter:flowconfig.formatOps">操作</th>
				</tr>
			</thead>
		</table>
		<div id="flowconfigdatagridtoolbar">
			<a href="#" class="easyui-linkbutton" onclick="$('#createflowDialog').dialog('open')" data-options="iconCls:'icon-add'">创建新的流程</a>
		</div>
		
		
		<!-- 创建流程类型 -->
		<div id="createflowDialog" class="easyui-dialog" title="创建流程" style="width: 400px;padding:10px"
				data-options="closed:true,iconCls:'icon-add',buttons:'#createFeeDialogButtons'"
			>
			<form class="easyui-form" action="/flowconfig/form" id="flowform"  method="post" data-options="novalidate:true">
				<input type="hidden" name="projectId" value="${Session['login_user'].projectId}"/>
		    	<div style="margin:20px 0">
					<input class="easyui-textbox" name="name" style="width:100%" data-options="label:'流程名称:',required:true,missingMessage:'流程名称不能为空'" >
				</div>
				<div style="margin:20px 0">
					<select  class="easyui-combobox" name="type" style="width:100%;" data-options="label:'流程类型:',required:true,missingMessage:'流程类型不能为空'">
					    <option value="100">费用审批流程</option>
					</select>
				</div>
				<div style="margin:20px 0">
					<input class="easyui-textbox" name="remark" style="width:100%;height: 100px" data-options="label:'说明:',multiline:true" >
				</div>
			</form>
		</div>
		<div id="createFeeDialogButtons">
			<a href="#" class="easyui-linkbutton" onclick="flowconfig.save()">保存</a>
			<a href="#" class="easyui-linkbutton" onclick="$('#createflowDialog').dialog('close')">关闭</a>
		</div>
		
		<!-- 版本列表 -->
		<div id="versionListDialog" class="easyui-dialog" title="选择版本" style=""
		data-options="closed:true,iconCls:'icon-add',buttons:'#versionlistDialogBtn'">
			<table id="versionlist" class="easyui-datagrid" title="" style="min-height: 300px;width: 500px;"
				data-options="fitColumns:true,rownumbers:true,singleSelect:true,url:'/flowconfig/versionlist',queryParams:flowconfig.queryVersionParams,method:'get',toolbar:'#addversion',loadMsg:'加载中...',
				nowrap:true,pagination:true,onLoadSuccess:function(data){
					if(data.rows.length == 0){
						var body = $(this).data().datagrid.dc.body2;
						var width = body.width();
						body.find('table tbody').append('<h5 style=\'width:500px;text-align:center;color:#aeaeae;font-size:12px\'>暂无数据!</h5>');
					}
				}">
			<thead>
				<tr>
					<th data-options="field:'version',align:'center'">版本号</th>
					<th data-options="field:'status',align:'center',width:100,formatter:flowconfig.formatEnabled">是否启用</th>
					<th data-options="field:'remark',align:'center',width:300">备注</th>
					<th data-options="field:'id',align:'center',width:200,formatter:flowconfig.formatVersionOp">操作</th>
				</tr>
			</thead>
		</table>
		</div>
		<div id="addversion">
			<a href="#" class="easyui-linkbutton" onclick="flowconfig.toAdd()" data-options="iconCls:'icon-add'">新增版本</a>
		</div>
		<div id="versionlistDialogBtn">
			<a href="#" class="easyui-linkbutton" onclick="$('#versionListDialog').dialog('close')">关闭</a>
		</div>
	</div>
	<script type="text/javascript">
		var flowconfig = {
				formatflowtype:function(val,ele){
					if(val == 100){
						return "费用审批流程";
					}
				},
				formatOps:function(val,index){
					return '<a class="maincolor" style="cursor:pointer" onclick="flowconfig.designFlow(\''+val+'\')">设计流程</a>';
				},
				save:function(){
					$('#flowform').form('submit',{
						onSubmit:function(){
							return $(this).form('enableValidation').form('validate');
						},
						success:function(data){
							data = JSON.parse(data);
							if(data.result == 'fail' && data.data == "repeat"){
								$.messager.alert('Warning','该类型的流程已经存在，请不要重复创建!');
							}else{
								$('#createflowDialog').dialog('close');
								$("#flowconfiglist").datagrid("load");
							}
						}
					});
				},
				designFlow:function(wfid){
					//如果还没有版本，则直接调到设计界面，如果有版本，先弹出版本列表
					this.queryVersionParams.workflowId = wfid;
					
					$.get("/flowconfig/versionlist?workflowId="+wfid,function(data){
						if(data.total == 0 ){
							window.location.href="/flowconfig/design?workflowId="+wfid;
						}else{
							$("#versionlist").datagrid("reload");
							//弹窗,选择版本号
							$("#versionListDialog").dialog("open");
						}
					})
				},
				toAdd:function(){
					window.location.href="/flowconfig/design?workflowId="+this.queryVersionParams.workflowId;
				},
				formatEnabled:function(status){
					if(status == 100){
						return "启用";
					}else if(status == 200){
						return "停用";
					}
					return "未知";
				},
				formatVersionOp:function(id,e){
					var str = "";
					if(e.status == 100){
						str+="<a class='maincolor' style='cursor:pointer' onclick='flowconfig.stop(\""+id+"\")'>停用</a>";
					}else if(e.status == 200){
						str+="<a class='maincolor' style='cursor:pointer' onclick='flowconfig.start(\""+id+"\")'>启用</a>"
					}
					str+="<a class='maincolor' style='cursor:pointer;margin-left:20px' onclick='flowconfig.design(\""+id+"\",\""+e.workflowId+"\")'>设计</a>"
					return str;
				},
				stop:function(versionId){
					$.get("/flowconfig/updateStatus?versionId="+versionId+"&status="+200,function(){
						$("#versionlist").datagrid("reload");
					})
				},
				start:function(versionId){
					$.get("/flowconfig/updateStatus?versionId="+versionId+"&status="+100,function(){
						$("#versionlist").datagrid("reload");
					})
				},
				design:function(versionId,fid){
					window.location.href="/flowconfig/design?versionId="+versionId+"&workflowId="+fid;
				},
				queryVersionParams:{
					workflowId:null
				}
		}
		
	</script>
</@f.main>
